body {
    background: #b1d3f1;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #000000;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #031827;
  }
  .navbar-brand {
    font-size: x-large;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-left:5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  }
  
  .article-title {
    color: #000000;
    font-size: x-large;
    text-decoration: underline;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }

  /* .article-title .article-content {
    margin-left: 20px;
  } */
  
  .article-img {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin-right: 20px;
    background-size: cover;
    background-position: center center;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }